<% @questions.each do |question| %>
  <div class="container hoverable">
    <article id="<%= question.id %>">
      <span class="new badge green" data-badge-caption="points"><%= points(question) %></span>
      <h3 class="black-text"><a href="/questions/<%= question.id %>"><%= question.title %></a></h3>
    </article>
    <div class="row">
      <p class="col s2"><%= question.comments.count %> Comments</p>
      <p class="col s2"><%= question.answers.count %> Answers</p>
    </div>
  </div> <br>
<% end %>
