<h2 class="card"><%= @question.title  %></h2>
<div class="row">
  <div class="card col s8 offset-s2">
    <div id="question_container" class="card-content">
      <span class="card-title"><%= @question.asker.username %> asked: </span>
      <%= erb :'/votes/_vote', locals: {model: @question} %>
      <span class="new badge green" data-badge-caption="points"><%= points(@question) %></span>
      <p><%= @question.body %></p>
      <div class="card-action">
        <% if !@question.comments.empty? %>
          <a class="comment-link" href="/questions/<%= @question.id %>/comments">Show Comments</a>
        <% else %>
          <a href="/questions/<%= @question.id %>/comments/new" class="new_comment_button waves-effect waves-light btn green"><i class="material-icons left">comment</i> New Comment</a>
        <% end %>
      </div>
    </div>
  </div>
</div>

<h3 class="card center">Answers</h3>
<div id="answers_container">
  <% if @errors %>
      <div class="error_container">
        <p><strong> There be problem</strong></p>
        <% @errors.each do |error| %>
            <p><%= error %></p>
        <% end %>
      </div>
  <% end %>
  <br>
  <% @question.answers.each do |answer| %>
      <%= erb :'answers/_answer', locals: {answer: answer} %>

  <% end %>
</div>

<div id="answer-actions">
  <div class="center">
    <h4 id="new_answer_title" class=" waves-effect waves-light btn-large">Post Answer</h4>
  </div>
  <div id='new_answer_form_container' class="container hoverable">
    <% if logged_in? %>
        <form id='new_answer_form' action='/questions/<%= @question.id %>/answers' method="post">
          <textarea type="text" name="answer"></textarea>
          <input class="waves-effect waves-light btn" type="submit" value="Submit">
        </form>
    <% else %>
        <p>You must be logged in to make a post</p>
    <% end %>
  </div>
</div>
