<div class="container hoverable">
  <h1><%= @question.title  %></h1>
  <p><%= @question.asker.username %> asked: </p> <br>
  <p><%= @question.body %></p>
  <span class="new badge green" data-badge-caption="points"><%= points(@question) %></span>
  <% if !@question.comments.empty? %>
    <a href="/questions/<%= @question.id %>/comments">Show Comments</a>
  <% else %>
    <p>no comments</p>
  <% end %>
<!-- <a href="/users/<%= @question.asker.id %>"><%= @question.asker.username %></a> -->
</div>

<h2>Answers</h2>
<div id="answers_container">
  <% if @errors %>
      <div class="error_container">
        <p><strong> There be problem</strong></p>
        <% @errors.each do |error| %>
            <p><%= error %></p>
        <% end %>
      </div>
  <% end %>
  <br>
  <% @question.answers.each do |answer| %>
    <%= erb :'answers/_answer', locals: {answer: answer} %>
  <% end %>
</div>

<div class="center">
  <h4 id="new_answer_title" class=" waves-effect waves-light btn-large">Post Answer</h4>
</div>
<div id='new_answer_form_container' class="container hoverable">
  <% if logged_in? %>
      <form id='new_answer_form' action='/questions/<%= @question.id %>/answers' method="post">
        <input type="text" name="answer">
        <input class="waves-effect waves-light btn" type="submit" value="Submit">
      </form>
  <% else %>
      <p>You must be logged in to make a post</p>
  <% end %>
</div>
