<div class="container">
<h1><%= @question.title  %></h1>
<p><%= @question.body %></p>
<a href="/questions/:question_id/comments/new">Show Comments</a>
<!-- <a href="/users/<%= @question.asker.id %>"><%= @question.asker.username %></a> -->
</div>
<% @question.answers.each do |answer| %>
  <div class="container">
  <p><%= answer.body %></p>
  <a href="/answers/:answer_id/comments/new">Show Comments</a>
 <!--  <a href="/users/<%= answer.answerer.id %>"><%= answer.answerer.username %></a>
 -->  </div>
<% end %>
